*{
    font-size:22px;
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: "Roboto";
    src: url(Roboto-Regular.ttf)

}
@font-face {
    font-family: "Roboto-Bold";
    src: url(Roboto-Bold.ttf)

}


body{
   background-image: linear-gradient(32deg, rgba(0, 183, 255, 0.305),rgba(67, 18, 202, 0.714));
   
}
main{
    max-width: 66%;
    margin-left:20vw;
    margin-right:20vw;
    border: groove 3px rgb(22, 22, 207);
    /*border-image: linear-gradient(64deg,blue, red);*/
    border-radius: 10px;
    padding:1px;
}
.heading1{
    font-size:4rem;
    text-align: center;
    
    text-shadow: 4px 4px 4px grey;
}
.heading2{
    font-size:2.5rem;
    text-align: center;
}
.legend1{
    font-size:1.5rem;
    text-align: left;
    margin-left:10%;
}
.subtitle{
    font-size:2.5rem;
    text-align: center;
}
#description{
    text-align: justify;
    margin:0 0.5vw 0 0.5vw;
}
.form-section{
    text-align: left;
    margin:0.5rem;
    border-radius: 10px;
    border-color: rgb(22, 22, 207)
}
.form-section-top{
    text-align: justify;
    margin:0.5rem;
    border-radius: 10px;
}
#submit{
    width:5rem;
    height:2.5rem;
    margin-left: 40%;
    margin-top: 2rem;
    margin-bottom:2rem;
    font-size:1.2rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-image: radial-gradient(rgb(67, 34, 185), rgb(59, 42, 209));
}
#submit:hover{
    width: 6rem;
    height: 3rem;
}
#comments{
    width:100%;
    height:5rem;
    border-radius: 4px;
    resize: none;
}
input{
    margin:0.5rem;
    border-radius: 4px;
}

select{
    margin: 0.5rem;
    border-radius: 4px;
}

.heading1-a{
    font-size:5rem;
    text-align: center;
}
.paragraph1-a{
    font-size: 3rem;
    text-align: center;
}
.fieldset-1{
    border-color: rgb(22, 22, 207)
}
.checkbox1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    
}
.radio-button{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1 ,1fr);
}
@media only screen and (max-width:800px){
    .form-section{
        text-align:left;
    }
    main{
        max-width:100%;
        margin-left:5vw;
        margin-right:5vw;
    }
    .heading1-a{
        font-size:3rem;
    }
    .paragraph1-a{
        font-size: 1.25rem;
    }
}
@media only screen and (max-width:500px){
    *{
        font-size: 16px;
    }
    main{
        max-width:100%;
        margin-left:5vw;
        margin-right:5vw;
    }
    input{
        max-width: 90%;
        font-size:0.75rem;
        margin: 0.25rem;
    }
    select{
        font-size: 0.75rem;
    }
    .legend1{
        font-size:1.25rem;
    }
    .checkbox1{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
    }
    .radio-button{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 ,1fr);
    }
}